<%= form_with(model: dinosaur) do |form| %>
  <% if dinosaur.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(dinosaur.errors.count, "error") %> prohibited this dinosaur from being saved:</h2>

      <ul>
        <% dinosaur.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :species %>
    <%= form.text_field :species %>
  </div>

  <div class="field">
    <%= form.label :diet_type %>
    <%= form.text_field :diet_type %>
  </div>

  <div class="field">
    <%= form.label :cage_id, class: "label" %>
    <div class="select">
      <%= form.select :cage_id, Cage.all.collect {|u| [u.name, u.id]} %>
    </div>
    
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
