<%= form_with(model: dinosaur) do |form| %>
  <% if dinosaur.errors.any? %>
    <div class="message-is-danger">
      <div class="message-header">
        <p><%= pluralize(dinosaur.errors.count, "error") %> prohibited this dinosaur from being saved:</p>
      </div>

      <div class="message-body">

        <ul>
          <% dinosaur.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name, class: "label" %>
    <%= form.text_field :name, class: "input" %>
  </div>

  <div class="field">
    <%= form.label :species, class: "label" %>
    <%= form.text_field :species, class: "input" %>
  </div>

  <div class="field">
    <%= form.label :diet_type, class: "label" %>
    <div class="select">
      <%= form.select :diet_type, ['Carnivore', 'Herbivore']%> 
    </div>
  </div>

  <div class="field">
    <%= form.label :cage_id, class: "label" %>
    <div class="select">
      <%= form.select :cage_id, Cage.all.collect {|u| [u.name, u.id]} %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit class: "button is-success" %>
  </div>
<% end %>
