<% content_for :title  do %>
  Park Management System - <%= DateTime.now.to_s(:nice_date) %>
<% end %>


<div class="columns mt-6 is-centered">
  <% @dinosaurs.each do |dinosaur| %>
  <div class="column is-one-quarter">
    <div class="card">
        <header class="card-header">
          <p class="card-header-title"><%= dinosaur.name %> - <%= dinosaur.cage.name if 
          dinosaur.cage.name? %></p></p>
        </header>
        <div class="card-content">
          <div class="content">
            <p><span class="has-text-weight-bold"> Species: <%= dinosaur.species %></span></p>
            <p><span class="has-text-weight-bold">Diet Type: <%= dinosaur.diet_type %><p>
            <p class="italic">Logged <%= time_ago_in_words(dinosaur.created_at) %> ago <p>
          </div>
        </div>
        <div class="card-footer">
          <%= link_to 'Show', dinosaur, class: "card-footer-item" %>
          <%= link_to 'Edit', edit_dinosaur_path(dinosaur), class: "card-footer-item" %>
          <%= link_to 'Destroy', dinosaur, method: :delete, data: { confirm: 'Are you sure?' }, class: "card-footer-item" %>
        </div>
      </div>
    </div>
  <% end %>
</div>