<% content_for :title do %>
  <%= @dinosaur.name %> &ndash; <%= DateTime.now.to_s(:nice_date)%>
<% end %>


<div class="columns mt-6 is-centered">
  <div class="column is-one-third">
    <nav class="panel is-link">
      <p class="panel-heading">
        <%= @dinosaur.name %> :
        <%= @dinosaur.cage.name %>
      </p>

      <div class="panel-block">
        Species: <%= @dinosaur.species %>
      </div>

      <div class="panel-block">
        Diet Type: <%= @dinosaur.diet_type %>
      </div>
    </nav>

    <div class="columns is-mobile">
      <div class="column">
        <%= link_to 'Edit', edit_dinosaur_path(@dinosaur), class: "button is-gray" %>
        <%= link_to 'Delete', dinosaur_path(@dinosaur), method: :delete, data: { confirm: "Are you sure?"},
        class: "button is-gray" %>
      </div>
      <div class="column">
        
      </div>
    </div>
  </div>
</div>
