<%= form_with(model: cage) do |form| %>
  <% if cage.errors.any? %>
    <div class="message-is-danger">
      <div class="message-header">
        <p><%= pluralize(cage.errors.count, "error") %> prohibited this cage from being saved:</p>
      </div>

      <div class="message-body">

        <ul>
          <% cage.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name, class: "label" %>
    <%= form.text_field :name, class: "input" %>
  </div>

  <div class="field">
    <%= form.label :max_capacity, class: "label" %>
    <%= form.number_field :max_capacity, class: "input" %>
  </div>

  <div class="field">
    <%= form.label :power_status, class: "label" %>
    <div class="select">
      <%= form.select :power_status, ['ACTIVE', 'DOWN']%>
    </div> 
  </div>

  <div class="actions">
    <%= form.submit class: "button is-success" %>
  </div>
<% end %>
