<% content_for :title  do %>
  Park Management System - <%= DateTime.now.to_s(:nice_date) %>
<% end %>


<div class="columns mt-2 is-centered">
  <%= form_with(url: '/cages', method: 'get', local: true) do %>
    <%= text_field_tag(:search) %>
    <%= submit_tag("Search") %>
  <% end %>
</div>

<div class="columns is-centered mt-6">
  <%= link_to "Advanced Search", new_cage_search_path %>
</div>

<div class="columns mt-6 is-centered">
  <% @cages.each do |cage| %>
  <div class="column is-one-quarter">
    <div class="card">
        <header class="card-header">
          <p class="card-header-title"><%= cage.name %></p>
        </header>
        <div class="card-content">
          <div class="content">
            <p><span class="has-text-weight-bold">Current Capacity: <%= cage.dinosaur_count %></span> / <%= cage.max_capacity %><p>
            <p><span class="has-text-weight-bold">Power Status: <%= cage.power_status %></span><p>
            <p class="italic">Logged <%= time_ago_in_words(cage.created_at) %> ago <p>
          </div>
        </div>
        <div class="card-footer">
          <%= link_to 'Show', cage, class: "card-footer-item" %>
          <%= link_to 'Edit', edit_cage_path(cage), class: "card-footer-item" %>
          <%= link_to 'Destroy', cage, method: :delete, data: { confirm: 'Are you sure?' }, class: "card-footer-item" %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="columns is-centered mt-6">
  <%= link_to "View all dinosaurs", :dinosaurs, class: "button is-link is-outlined is-centered" %>
</div>