<h1>Search Results</h1>
<p><%= link_to "Back", new_dinosaur_search_path %></p>

<% if @dinosaur_search.search_dinosaurs.empty? %>
    <p>No Dinosaurs were found.</p>
<% else %>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Species</th>
                <th>Diet_Type</th>
                <th colspan="3"></th>
            </tr>
        </thead>

        <tbody>
            <% @dinosaur_search.search_dinosaurs.each do |dinosaur| %>
            <tr>
                <td><%= dinosaur.name %></td>
                <td><%= dinosaur.species %></td>
                <td><%= dinosaur.diet_type %></td>
                <td><%= link_to 'Edit', edit_dinosaur_path(dinosaur) %></td>
                <td><%= link_to 'Delete', dinosaur_path(dinosaur), method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
            <% end %>
        </tbody>
</table>
<% end %>